{
  "MySQL": {
    "host": "localhost",
    "port": 3306,
    "database": "iobroker",
    "user": "xxxx",
    "password": "xxxx"
  },
  "InfluxDB": {
    "host": "localhost",
    "ssl": false,
    "port": 8086,
    "database": "iobroker",
    "retention_policy": "autogen",
    "user": "xxxx",
    "password": "xxxx",
    "store_ack_boolean": true
  }
}